{% extends 'base.html' %}
{% load static %}
{%block title%}
Event Saved
{% endblock %}

{%block content%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Booked Successfully</title>
</head>
<style>
    h1 {
        text-align: center;
    }
</style>
<body>
    <h1>Event Booked Successfully!</h1>
    <p id="redirect-message" class="text-center">Redirecting to home in 5 seconds...</p>
    
    <script>
       
        let countdown = 5;
        function updateCountdown() {
            document.getElementById('redirect-message').textContent = `Redirecting to home in ${countdown} seconds...`;
        }
        function countdownAndRedirect() {
            updateCountdown();
            setTimeout(function() {
                countdown--;
                if (countdown <= 0) {
                    window.location.href = '/'; 
                } else {
                    countdownAndRedirect();
                }
            }, 1000);
        }
        countdownAndRedirect();
    </script>
</body>
</html>


{% endblock %}